body{
    line-height: 1.5;
    background-color: rgb(75, 75, 75);
    color: rgb(252, 81, 252);
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.625rem;
    /* color: var(--heliotrope); */
    font-weight: 700;
    line-height: 1.1;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

main {
    width: 96%;
    margin: 2rem auto;
}

main section{
    display: flex;
    flex-flow: row wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

main section div{
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
}

main section div figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    min-height: 100%;
    outline: 2px dashed white;
    border-radius: .5rem;
}

main section div figure h2 {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: .5rem 1.5rem;
    border: 2px solid white;
    background-color: rgb(75, 75, 75);
    border-radius: 1rem;
}

main section div figure pre{
    white-space: pre-wrap;
    overflow: auto;
    padding: 1.5rem;
    color: white;
    border-radius: 1rem;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.1) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center;
    flex-grow: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {

    main section div {
        flex: 0 0 50%;
        max-width: 50%;
    }

    main section div:last-child{
        flex-grow: 1;
    }
} 

@media screen and (min-width: 992px){
    header{
        width: 75%;
    }

    main section div{
        flex: 0 0 33%;
        max-width: 33%;
    }
}

